<div class="mcq">
    <p class="header" style="font-weight:bold" ng-bind-html="headerText"></p>
    <p class="stem" ng-bind-html="content.question.stem"></p>
    <table>
     <tr ng-repeat="choice in content.question.choices">
      <td>
        <input  type="radio" ng-model="$parent.userSelection" ng-value="$index" />
        <span ng-if="content.state==$index&&choice.correct">✓</span>
        <span ng-if="content.state==$index&&!choice.correct">✗</span>
      </td>
      <td><span class="MCQItem" ng-bind-html="choice.text"></span>
          <span ng-if="choice.reason" class="MCQExpl" ng-bind-html="choice.reason"></span></td>
     </tr>
    </table>
    <div class="text-center">
        <button ng-click="submit()" ng-bind-html="buttonText"></button>
    </div>
</div>
