<div class="mcq">
    <p class="header" style="font-weight:bold" ng-bind-html="headerText"></p>
    <p class="stem" ng-bind-html="content.question.stem"></p>
    <table>
        <tr>
            <th style="text-wrap:suppress"></th>
            <th ng-bind-html="trueText"></th>
            <th ng-bind-html="falseText"></th>
            <th ng-if="checked"></th>
            <th ng-if="checked"></th></tr>
     <tr ng-repeat="choice in content.question.choices">
      <td><span style="" class="MCQItem" ng-bind-html="choice.text"></span></td>
      <td class="text-center">
        <input  type="checkbox" ng-model="$parent.answer[$index]" ng-true-value="true" ng-false-value="false"/>
      </td>
      <td class="text-center">
        <input  type="checkbox" ng-model="$parent.answer[$index]" ng-false-value="true" ng-true-value="false" />
        <!-- <input  type="checkbox" ng-model="$parent.answer[$index]" ng-value="false"  />  -->
      </td>
      <td ng-if="checked">
        <span ng-bind-html="correctText" ng-if="!(answer[$index] == null) && !(choice.correct == null) && (''+answer[$index] == ''+choice.correct)" class="correct"></span>
        <span ng-bind-html="wrongText" ng-if="!(answer[$index] == null) && !(choice.correct == null) && (''+answer[$index] !==''+choice.correct)" class="wrong"></span>
      </td>
      <td  ng-if="choice.reason" >
        <span class="MCQExpl" ng-bind-html="choice.reason"></span></td>
     </tr>
    </table>
    <div class="text-center">
        <button ng-click="submit()" ng-bind-html="buttonText"></button>
    </div>
</div>
